.inputcount{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputcount1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
button{

margin:3px
}